<template>
    <div style="margin-left: 10px; margin-right:10px;">
        <h1>Armonización Contable</h1>
        <el-row :gutter="20">
            <el-col :span="24" class="mi-card" style="margin-top: 20px;">
                <el-card shadow="hover">
                    <el-tree :data="data" :props="defaultProps" 
                        class="trans-x"
                        @node-click="handleNodeClick" icon-class="el-icon-folder"
                        :default-expand-all="true"
                        >
                            <span style="font-size:12px !important ;" slot-scope="{ node, data }" v-if="data.documento != null">

                                <span style="color:#F56C6C" v-if="node.label.includes('.pdf')">
                                    <img :src="require('../assets/img/pdf.svg')" alt="Excel file" style="max-height: 15px;max-width:15px">
                                    {{ node.label }}
                                </span>
                                <span style="color:#67C23A" v-else-if="node.label.includes('.xls')">
                                    <img :src="require('../assets/img/excel_1.svg')" alt="Excel file" style="max-height: 15px;max-width:15px">
                                    {{ node.label }}
                                </span>
                                <span v-else>
                                    {{ node.label }}
                                </span>

                            </span>
                            <span v-else>
                                <span>{{ node.label }}</span>
                            </span>
                        </el-tree>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>

<script>

import requests from '../requests';
export default {
    created(){
        requests.get_armonizacionCont().then(data => {
            this.data = data;
        });
    }
    ,
    data(){
        let anios =  [2017, 2018, 2019];
        const data_anios = anios.map(anio => {
            return {
                label: anio,
                children: [
                        {
                            label: 'Anual',
                            children: [
                                {label: 'Iniciativa de Ingresos', documento: true}
                            ]
                        },
                        {
                            label: 'Trimestre 1',
                        },
                        {
                            label: 'Trimestre 2',
                        },
                        {
                            label: 'Trimestre 3',
                        },
                        {
                            label: 'Trimestre 4',
                        },
                        {
                            label: 'Cuenta pública',
                        },

                    ]
            }
        });
        return {
            filterText: '',
            defaultProps: {
                children: 'children',
                label: 'label',
                isLeaf: 'documento'
            },
            data_anios,
            data: []
        }
    },
    methods: {
      handleNodeClick(data) {
        if(data.documento){
            window.open(data.documento.replace('..', ''), '_blank');
        }
      }
    }
}
</script>

<style >
    .mi-header{
        background-color: #79BBFF;
        color: #fff;
        margin: 0px;
        padding: 0px;
        height: 100%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .mi-excel{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #E1F2D8;
        border-bottom-left-radius: 6px;

    }
    .mi-pdf{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #FDE2E2;

        border-bottom-right-radius: 6px;
    }
    .text-center{
        padding-top: 10px;
        text-align: center;
    }
    .mi-card{
        border-radius: 12px;
    }
    .trans-x{
        font-weight: 500;
    }
</style>
