<template>
    <el-row type="flex" justify="space-around" style="height: 80vh;" class="margin_on_min">
        <el-col :span="24" >
            <el-carousel :interval="40000" height="80vh">
                <el-carousel-item v-for="image in images_carrusel" :key="image.documento">
                    <el-image :src="`http://cocytieg.gob.mx/${image.documento.replace('..', '')}`" fit="fill" style="display:block;margin:auto;height:100%"  ></el-image>
                </el-carousel-item>
            </el-carousel>
        </el-col>
    </el-row>
</template>

<script>
import requests from '../requests';
export default {
    created(){
        requests.get_banner().then(data => {
            this.images_carrusel = data;
            
        });
    },
    data(){
        return {
            images_carrusel: []
        }
    }
}
</script>

<style>

</style>

