<template>
    
    <div class="h-space">
        <h1>Dashboard</h1>
        <h3>Noticias</h3>
        <el-divider></el-divider>
        <el-row >
            <el-col :span="12" >
                <el-form :model="formNoticia" label-position="top" ref="formNoticia" enctype="multipart/form-data" v-loading="loading">
                    <el-form-item  label="Titulo" prop="titulo" >
                        <el-input type="text" v-model="formNoticia.titulo"> </el-input>
                    </el-form-item>
                    <el-form-item  label="Descripción" prop="descripcion" >
                            <el-input type="text" v-model="formNoticia.descripcion"> </el-input>
                    </el-form-item>
                    <el-form-item label="Imagen de la noticia" prop="img">
                        <input type="file" ref="file" v-on:change="handleFileUpload()"/>																				
                    </el-form-item>
                    <el-button type="primary" @click="submitForm('formNoticia')" >Agregar noticia</el-button>
                </el-form>
            </el-col>
        </el-row>
        
    </div>
    
</template>

<script>
import requests from '../requests';
export default {
    name: 'Dashboard',
    data(){
        return {
            formNoticia:{
                titulo: 'test',
                descripcion: 'test',
                file: null
            },
            loading: false
        }
    },
    methods:{
        handleFileUpload(){
            console.log(this.$refs['file'].files[0]);
            this.formNoticia.file = this.$refs.file.files[0];
        },
        submitForm(formName){
            this.$refs[formName].validate((valid) => {
                if(valid){
                    let formData = new FormData();
                    formData.append('file', this.formNoticia.file);
                    formData.append('titulo', this.formNoticia.titulo);
                    formData.append('descripcion', this.formNoticia.descripcion);
                    formData.append('accion', 'add_noticia');
                    this.loading = true;
                    requests.add_noticia(formData)
                        .then(data => {
                            console.log(data);
                            this.loading = false;
                        })
                    
                }else{
                    this.$message({
                        message: 'Revise los campos',
                        type: 'warning'
                    });
                    return false;
                }
            });
        }
    }
}
</script>

<style>
.h-space{
    margin-left: 3em;
    margin-right: 3em;
}
</style>
