<template>
    <div style="margin: 2rem 1rem 0rem 2rem;">
        <h1 style="margin-bottom: 7rem; ">Directorio</h1>
        <el-row :gutter="20">
            <el-col :lg="8" :md="12" :xs="24" class="contact" v-for="(contact, index) in directorio" :key="index">
                <div>
                    <el-image fit="contain" src="http://cocytieg.gob.mx/img/user.svg" class="user"></el-image>
                </div>
                <div style="text-align:center; top: -5rem;position:relative;color:#606266">
                    <p>{{ contact.encargado}}</p>
                    <p>{{contact.correo}}</p>
                    <p>{{contact.telefono}}</p>
                </div>
                <div class="footer-contact">
                    <h4 style="text-align:center;margin: 0px 0px 0px 0px">{{contact.area}}</h4>
                </div>
            </el-col>
        </el-row>
    </div>
</template>

<script>
export default {
    data(){
        return {
            directorio: [
                {
                    area: 'DIRECCION GENERAL',
                    encargado: 'MTRO. RENE MONROY ADAME',
                    telefono: '(747) 47-1-65-91 - 47-1-45-95',
                    correo: 'direcciongeneral@cocytieg.gob.mx'
                }
            ]
        }
        
    }
}
</script>
<style scoped>
    .contact {
        padding-left: 0px !important;
        padding-right: 0px !important;
        height: 15rem; 
        background: white;
        border-radius: 6px;
        border-radius: 12px;
        box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.1), 0px 6px 18px 0px rgba(0, 0, 0, 0.2); 
        transition: transform 0.35s cubic-bezier(0.4,0, 0.2, 1), box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(0px);
    }

    .contact:hover { 	
        box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.08), 0px 30px 25px 0px rgba(0, 0, 0, 0.05); 
        transform:translateY(-3px); 
    }

    .user {
        width: 10rem;
        position: relative;
        top: -5rem;
        display: block;
        margin:auto;
    }

    .footer-contact{
        text-align:center; 
        top: -4rem;
        position:relative;
        background:red;
        color: white;
        padding: .5rem 1rem .5rem 1rem;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
    }

</style>