<template>
    <div>
        <h2 class="text-center ">Noticias Cocytieg</h2>
        <el-row :gutter="20" style="margin-left: 20px;margin-right:20px;">
            <el-col :span="24" style="margin-top: 30px;" v-for="(row, index) in publicaciones" :key="index">
                <div class="fb-box">
                    <el-row>
                        <el-col :sm="24" :md="8">
                            <img class="fb-img" :src="`http://cocytieg.gob.mx/api/${row.NoticiaImagen}`" />
                        </el-col>
                        <el-col :sm="24" :md="16" style="padding:20px;;">
                            <h3>{{row.NoticiaTitulo}}</h3>
                            <p>
                                {{row.NoticiaDescripcion}}
                            </p>
                        </el-col>
                    </el-row>
                </div>
            </el-col>
        </el-row>
    </div>
</template>

<script>

import requests from '../requests';
export default {
    data(){
        return {
            publicaciones: []
        }
    },
    created(){
        requests.get_noticias().then(data => {
            this.publicaciones = data.rows;
            console.log(this.publicaciones);
        });
    }
}
</script>

<style>
    .fb-img{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        border-radius: 12px;
        position:relative;
        top: -20px;
        left: -10px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
    }
    @media (max-width: 1000px) {
        .fb-img {
            top: 0px;
            left: 0px;
        }
        .fb-box{
            height: 20%;
        }
    }
    .fb-box{
        background-color: #FFFFFF;
        height: 50%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 12px;
        box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.1), 0px 6px 18px 0px rgba(0, 0, 0, 0.2); 
        transition: transform 0.35s cubic-bezier(0.4,0, 0.2, 1), box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(0px)
    }
    .fb-box:hover { 	
        box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.08), 0px 30px 25px 0px rgba(0, 0, 0, 0.05); 
        transform:translateY(-3px); 
    }

</style>

