<template>
<div>
    <Banner />
    <Feed />
</div>
</template>

<script>
import Banner from './Banner';
import Feed from './Feed';

export default {
    components: {
        Feed,
        Banner
    }
}
</script>

<style>
</style>

