<template>
    <div >
        <h2 style="">Inicio de sesión</h2>
        <el-row style="margin-left: 1em;">
            <el-col :span="12" >
                <el-form :model="formLogin" label-position="top" ref="formLogin" >
                    <el-form-item  label="Nombre" prop="nombre" >
                        <el-input type="text" v-model="formLogin.nombre"> </el-input>
                    </el-form-item>
                    <el-form-item  label="Contrasenia" prop="contrasenia" >
                        <el-input type="text" v-model="formLogin.contrasenia" show-password> </el-input>
                    </el-form-item>
                    <el-button type="primary" @click="submitForm('formLogin')" >Iniciar sesión</el-button>
                </el-form>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import requests from '../requests';

export default {
    name: 'Login',
    data(){
        return {

            formLogin: {
                nombre: 'admin',
                contrasenia: '123456'
            }
        }
    },
    methods: {
        submitForm(formName){
            this.$refs[formName].validate((valid) => {
                if(valid){
                    let formData = new FormData();
                    formData.append('UsuarioNombre', this.formLogin.nombre);
                    formData.append('UsuarioContrasenia', this.formLogin.contrasenia);
                    formData.append('accion', 'log_in');
                    requests.logIn(formData)
                        .then(data => {
                            if(data.data.status == "OK"){
                                this.$store.dispatch('login', data.data);
                                this.$message({
                                    message: 'Inicio de sesión satisfactorio',
                                    type: 'success'
                                });
                                this.$router.push('dashboard');
                            }else{
                                this.$store.state.token = null;
                                this.$message({
                                    message: 'Error en las credenciales',
                                    type: 'warning'
                                });
                            }
                        })
                    
                }else{
                    this.$message({
                        message: 'Revise los campos',
                        type: 'warning'
                    });
                    return false;
                }
            });
        }
    },
}
</script>