<template>
    <div>
        <el-menu  default-active="inicio" mode="horizontal" style="position:fixed;top:0;width:100%;z-index: 300;" class="to-right" @select="selectPage">
            <el-menu-item index="/" class="">
             <img
                style="height: 50px;width: 190px; margin-top:5px; margin-bottom: 5px"
                :src="require('../assets/img/logo_guerrero.png')"
                />
            </el-menu-item>
            <el-menu-item style="float:right">
                <span>
                    <el-button-group>
                        <el-button type="text" ><a target="_blank" href="https://www.facebook.com/COCYTIEG99"> <ion-icon name="logo-facebook" size="large" style="color: #415F9B"></ion-icon></a></el-button>
                        <el-button  type="text"><a target="_blank" href="https://twitter.com/@COCYTIEGUERRERO"> <ion-icon name="logo-twitter" size="large" style="color: #1CA1F2"></ion-icon></a></el-button>
                        <el-button  type="text"> <ion-icon name="ios-contact" size="large" style="color: #45C183" @click="() => pushPage('inicio_sesion')"></ion-icon></el-button>
                        <el-button  class="hidden-lg-and-up" type="text"><ion-icon name="menu" size="large" style="color: #1CA1F2; margin-left: 1rem" @click="drawer = true"></ion-icon></el-button>
                    </el-button-group>
                </span>
            </el-menu-item>
            <el-menu-item style="float:right" index="" class="hidden-md-and-down"><a  target="_blank" href="https://www.conacyt.gob.mx/">Conacyt</a></el-menu-item>
            <el-submenu style="float:right" index="_" class="hidden-md-and-down" >
                <template slot="title">Transparencia</template>
                <el-menu-item index="armonizacion_contable" class="to-right">Armonización contable</el-menu-item>
                <el-menu-item index="transparencia">Unidad de transparencia</el-menu-item>
            </el-submenu>
            <el-submenu style="float:right" index="programas" class="hidden-md-and-down" >
                <template slot="title">Programas</template>
                <el-menu-item index="caravana" >Caravana de la ciencia</el-menu-item>
                <el-menu-item index=""><a  target="_blank" href="http://www.fesgro.mx">Foro de estudios</a></el-menu-item>
                <el-menu-item index="feria_ciencias_ingenieria">Feria nacional de ciencias e ingenierias</el-menu-item>
            </el-submenu>
            <el-submenu style="float:right" index="quienes_somos" class="hidden-md-and-down ">
                <template slot="title">¿Quiénes somos?</template>
                <el-menu-item index="objetivos" >Objetivos</el-menu-item>
                <el-menu-item index="mision_vision">Misión y visión</el-menu-item>
                <el-menu-item index="estructura">Estructura</el-menu-item>
                <el-menu-item index="directorio">Directorio</el-menu-item>
            </el-submenu>

            
            
            
        </el-menu>
        <el-drawer
            custom-class="demo-drawer"
            :append-to-body="true"
            title="Cocytieg"
            :visible.sync="drawer"
            size="100%"
            direction="ttb"
            ref="drawer"
            >
                <div style="margin: 0px 1rem 0px 1rem;">
                    <h4>¿Quiénes somos?</h4>
                    <el-divider></el-divider>
                    <el-button type="text"  @click="() => pushPage('objetivos')"> Objetivos</el-button>
                    <br>
                    <el-button type="text" @click="() =>  pushPage('mision_vision')">Misión y visión</el-button>
                    <br>
                    <el-button type="text"  @click="() =>  pushPage('estructura')">Estructura</el-button>
                    <br>
                    <el-button  type="text"  @click="() =>  pushPage('directorio')">Directorio</el-button>
                    <br>
                    <h4>Programas</h4>
                    <el-divider></el-divider>
                    <el-button  type="text"  @click="() =>  pushPage('caravana')">Caravana de la ciencia</el-button>
                    <br>
                    <el-button  type="text"><a  target="_blank" href="http://www.fesgro.mx">Foro de estudios</a></el-button>
                    <br>
                    <el-button  type="text" >Feria nacional de ciencias e ingenierias</el-button>
                    <h4>Transparencia</h4>
                    <el-button  type="text"  @click="() =>  pushPage('armonizacion_contable')">Armonización contable</el-button>
                    <br>
                    <el-button  type="text"  @click="() =>  pushPage('transparencia')">Unidad de transparencia</el-button>
                </div>
                
            </el-drawer>
    </div>
    
    
</template>

<script>
export default {
    data(){
        return {
            drawer: false
        }
    },
    props: ['header']
    ,
    methods: {
        selectPage(indexPage, indexP){
            this.$router.push(indexPage);
        },
        pushPage(indexPage){
            this.drawer = false;
            this.$router.push(indexPage);
        }
    }
}
</script>

<style>

    .to-right {
        position: relative; float: right;
    }
    .demo-drawer {
        overflow: scroll !important;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .2s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
    @media (min-width: 1000px) {
        .logo {
            width: 80% !important;
            height: 30% !important;
        }
    }
    a:link {
        text-decoration: none;
    }
    a:visited{
        color: #989BA0;
    }

    .xlogo {
        max-height: 40px;
        max-width: 220px;;
    }


</style>

