<template>
    <div style="margin-left: 20px; margin-right:20px;">
        <el-row :gutter="20" >
            <el-col :lg="12" style="margin-top: 30px;">
                <div class="xcard">
                    <div class="header">
                        <img :src="require('../assets/img/ganar.png')" class="image">
                        <h2 style="text-align: center;margin-top: 0px;position:relative;top: -90px;">Misión</h2>
                    </div>
                    <p style ="text-align: justify; margin-left: 10px; margin-right: 10px;margin-top: 0px;">
                        {{mision}}
                    </p>
                </div>
            </el-col>
            <el-col :lg="12" style="margin-top: 30px;">
                <div  class="xcard">
                    <div class="header">
                        <img :src="require('../assets/img/vision.png')" class="image">
                        <h2 style="text-align: center;margin-top: 0px;position:relative;top: -90px;">Visión</h2>
                    </div>
                    <p style ="text-align: justify; margin-left: 10px; margin-right: 10px;margin-top: 0px;">
                        {{vision}}
                    </p>
                </div>
            </el-col>
        </el-row>
    </div>
    
</template>

<script>
export default {
    name: 'MisionVision',
    computed: {
        mision(){
            return this.$store.state.mision;
        },
        vision(){
            return this.$store.state.vision;
        }
    },
}
</script>

<style>
.xcard {
    margin-top: 5rem;
    background: white;
    height: 100%;
    min-height: 400px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 12px;
	box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.1), 0px 6px 18px 0px rgba(0, 0, 0, 0.2); 
	transition: transform 0.35s cubic-bezier(0.4,0, 0.2, 1), box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateY(0px);
}

.xcard:hover { 	
	box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.08), 0px 30px 25px 0px rgba(0, 0, 0, 0.05); 
	transform:translateY(-3px); 
}

.header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: linear-gradient( 300deg, #2AFADF 10%, #4C83FF 100%);
    color: white;
    font-family: 'Pacifico';
    font-size: 30px;
    max-height: 150px;
    
}
.image {
    max-width: 150px;
    position: relative;
    top: -75px;
    display: block;
    margin:auto;
}
</style>
