<template>
    <div style="margin-left: 2em; margin-right:2em;">
        <h1 >Objetivos</h1>
        <h3>El COCYTIEG, tendrá por objeto:</h3>
        <p  v-for="(objetivo, i) in objetivos" :key="i" style="margin-top: 2em;" class="notice">
            {{objetivo}}
        </p>
        
    </div>
</template>
<script>
export default {
    name: 'Objetivos',
    computed: {
        objetivos(){
            return this.$store.state.objetivos;
        }, 
    },
}
</script>

<style scoped>
    .notice {
        
        border-radius: 12px;
        border-left: 8px solid #409EFF;
        background-color: #D9ECFF;
        padding: 2em 2em 2em 2em;
    }
</style>