<template>
    <div>
        <el-row>
            <el-col :span="24" style="text-align: center;">
                <el-image
                    style="text-align: center;"
                    src="http://cocytieg.gob.mx/img/organigrama.jpg"
                    fit="contain"></el-image>
            </el-col>
        </el-row>
    </div>
</template>

<script>
export default {
    
}
</script>