<template>
    <el-row  style="margin-top:10rem;">
        <el-col :span="24">
            <slot></slot>
        </el-col>
        <el-col :span="24" style="text-align: center;">
            <el-image v-if="dev==true" :src="require('../assets/img/development.png')" fit="cover" style="width: 40%; heigth: 30%;" > 
            </el-image>
        </el-col>
    </el-row>
</template>

<script>
export default {
    props: ['dev']
}
</script>

<style>
</style>

