<template>
    <div style="margin-left: 10px; margin-right:10px;">
        <h1>Transparencia - Acceso a la información</h1>
         <el-cascader
            style="width: 100%;"
            v-model="opcion_seleccionada"
            :options="data_seleccionable"
            :props="{ expandTrigger: 'hover' }"
            @change="selecionaSubCarpeta"></el-cascader>

        <el-row :gutter="20" v-if="data_selecionada != null" >
            <el-col :lg="6" :md="12" :xs="24" class="mi-card" v-for="(subsub, index) in data_selecionada.children" :key="index">
                <div class="mi-header">
                    <p class="text-center">{{subsub.label}}</p>
                </div>
                <div>
                    <el-row>
                        <div v-for="(file, i) in subsub.children" :key="i">
                            <el-col class="mi-excel" v-if="file.label.includes('.xls')">
                                <a :href="file.documento.replace('..', '')" target="_blank">
                                    <img :src="require('../assets/img/excel_1.svg')" alt="Excel file" style="max-height: 20px;">
                                </a>
                            </el-col>
                            <el-col class="mi-pdf" v-else>
                                <a :href="file.documento.replace('..', '')" target="_blank">
                                <img :src="require('../assets/img/pdf.svg')" alt="Excel file" style="max-height: 20px;">
                                </a>
                            </el-col>
                        </div>
                    </el-row>
                </div>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import requests from '../requests';
export default {
    created(){
        requests.get_Transparencia().then(data => {
            this.data = data;
            this.data_seleccionable = data.map(anio => {
                console.log(anio);
                let children = anio.children.map(sub => {
                        return {
                            label: sub.label,
                            value: sub.label
                        }
                    })
                
                return {
                    label: anio.label,
                    value: anio.label,
                    children
                }
            })
        });
    },
    data(){
        return {
            
            data: [],
            data_seleccionable: [],
            opcion_seleccionada: [],
            data_selecionada: null
        }
    },
    methods: {
        selecionaSubCarpeta(data_selecionada) {
            let findAnio = this.data.find(x => x.label === data_selecionada[0]);
            let sub = findAnio.children.find(x => x.label == data_selecionada[1]);
            this.data_selecionada = sub;
            //console.log(data_selecionada)
        }
    },
}
</script>

<style scoped>
    .mi-header{
        background: #409EFF;
        color: #fff;
        margin: 0px;
        padding: 0px;
        height: 100%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .mi-excel{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #E1F2D8;
        border-bottom-left-radius: 6px;

    }
    .mi-pdf{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #FDE2E2;
        border-bottom-right-radius: 6px;
    }
    .text-center{
        padding-top: 10px;
        text-align: center;
    }
    .mi-card{
        border-radius: 6px;
        min-height: 200px;
    }
    
</style>
