<template>
  <div id="app">
    <Menu ref="menu" :header="header" />
    <transition name="custom-classes-transition"
        enter-active-class="animated slideInUp"
        leave-active-class="animated fadeOut">
      <router-view class="xrouter" style="margin-top: 63px;"></router-view>
    </transition>
    
    
    <el-row style="" class="box-fotter" :gutter="20">
      <el-col :sm="24" :md="8" >
        <h4 >Enlaces</h4>
        <p>
          Reformas
        </p>
        <p>
          Portal de obligacions
        </p>
      </el-col>
      <el-col :sm="24" :md="8">
        <h4 >¿Qué es gob.mx?</h4>
        <p>
          Es el portal único de trámites, información y participación ciudadana. Leer más
        </p>
        <p>
          Aviso de privacidad simplificado
        </p>
      </el-col>
      <el-col :sm="24" :md="8">
        <h4> Contacto</h4>
        <p>
          Siguenos en
        </p>
         <span>
              <el-button-group>
                  <el-button type="text" ><ion-icon name="logo-facebook" size="large" style="color: #415F9B"></ion-icon></el-button>
                  <el-button  type="text"><ion-icon name="logo-twitter" size="large" style="color: #1CA1F2"></ion-icon></el-button>
              </el-button-group>
          </span>
      </el-col>
    </el-row>

    <div id="footer">

    </div>
  </div>
</template>
<script>
import Menu from './components/Menu';
export default {
  components: {
    Menu
  },
  name: 'app',
  data(){
    return {
      prevScrollpos: 0,
      header: true,
    }
  },
  methods: {
    handleScroll(){
      //console.log(this.$refs.caravana.$el.offsetTop);
      //console.log(this.$refs.foro_estudios.$el.offsetTop);

      var currentScrollPos = window.pageYOffset;
      if (this.prevScrollpos > currentScrollPos & currentScrollPos < 10 ) {
        
        this.header = true;
      } else {
        this.header = false;
      }
      this.prevScrollpos = currentScrollPos;
    }
  },
  created(){
    this.prevScrollpos = window.pageYOffset;
    //window.addEventListener('scroll', this.handleScroll)
    
  },
  destroyed(){
    //window.removeEventListener('scroll', this.handleScroll)
  },
}
</script>

<style>
.subtitle-card {
  text-align: center;
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
  color: #FFFFFF;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 10px;
  height: 80px;;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-image: url("http://cocytieg.gob.mx/img/cohete.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;

}
.box-fotter{
  background-color: #D3D3D3; 
  padding-left: 20px;
  padding-right: 20px;
  margin-top:10rem;
  padding-bottom: 20px;

}
#footer {
	width: 100%;
	height: 50px;
	background-image: url("./assets/img/cintillo.jpg");
	background-repeat: repeat-x;
	background-size: auto 50px;

}
.box-fotter > *{
  color: #666666;
}
.text-center{
    text-align: center;
}
html, body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  background-color: #F0F1F6;
	margin: 0px;
	height: 100%;
  margin: 0px;
}



.slide-fade-enter-active {
  transition: all .6s ease;
}
.slide-fade-leave-active {
  transition: all .6s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fb-boxx{
  background-color: #FFFFFF;
  margin-top: 60px;
  height: 100%;
  min-height: 350px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.1), 0px 6px 18px 0px rgba(0, 0, 0, 0.2); 
  transition: transform 0.35s cubic-bezier(0.4,0, 0.2, 1), box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0px)
}
.fb-boxx:hover { 	
    box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.08), 0px 30px 25px 0px rgba(0, 0, 0, 0.05); 
    transform:translateY(-3px); 
}

 @media (max-width: 1000px) {
        .xrouter {
            margin-top: 65px !important;
        }
    }


</style>
